@model WEBP.WebAPI.Models.BlogViewModel

@{
	Layout = "~/Views/Shared/_BlogLayout.cshtml";
	ViewData["Title"] = "Oyun Page";
}

<div class="content-header-div">

	<img class="content-header" src="../Resources/b.jpeg" />

	<h1 class="title">
		@Model.blog.title
	</h1>

</div>

<div class="content-container">
	<div class="text-container">


		<p class="content">
			@Model.blog.content
		</p>

	</div>
</div>