@model WEBP.WebAPI.Models.OyunViewModel

@{
	Layout = "~/Views/Shared/_PageLayout.cshtml";
	ViewData["Title"] = "Oyun Page"; 
}

<div class="content-header-div">
	<img class="content-header" src="../Resources/b.jpeg" />
</div>
<div class="posts">

		@foreach (var item in Model.blogs)
		{
		<div class="post" @item.category>

			<div class="post-img"></div>

			<div class="post-info">
				<h6 class="post-title">@item.title</h6>
			</div>

		</div>
		}

	<nav id="pagination-nav">
		<ul class="pagination">

			<li class="pg-link">
				<a href="?page=1">First</a>
			</li>

			@for (int i = 1; i <= ViewBag.ipages; i++)
			{
				if (i == ViewBag.page)
				{
					<li class="pg-link active-link"> <a href="?page=@i">@i</a> </li>

				}
				else
				{
					<li class="pg-link"> <a href="?page=@i">@i</a> </li>

				}
			}

			<li class="pg-link">
				<a href="?page=@ViewBag.ipages">Last</a>
			</li>

		</ul>
	</nav>


</div>

