@model WEBP.WebAPI.Models.ListPanelViewModel

@{ 
	Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
	ViewData["Title"] = "List";
}

<div class="panel">

	<table id="table" class="table table-striped">

		<thead>
			<tr>
				<th scope="col"> <input id="input-title" type="text" class="form-control" placeholder="Baslik"	/>	 </th>
				<th scope="col"> <input id="input-author" type="text" class="form-control" placeholder="Yazar"	/>	 </th>
				<th scope="col"> <input id="input-category" type="text" class="form-control" placeholder="Kategori"	/>	 </th>
				<th scope="col"> <input id="input-aktifMi" type="text" class="form-control" placeholder="AktifMi"	/>	 </th>
				<th scope="col"> <input id="input-uniqueId" type="text" class="form-control" placeholder="UniqueId"	/>	 </th>
			</tr>
		</thead>

		<tbody>
			@foreach (var item in Model.Products)
			 {
				<tr class="blog-table">
					<td class="blog-title"    >@item.Title</td>
					<td class="blog-user"     >@Model.Users.Find( a => a.Id == item.UserId ).FirstName</td>
					<td class="blog-aktifMi"  >@item.IsActive</td>
					<td class="blog-uniqueId" >@item.UniqueId</td>
				</tr>
			 }
		</tbody>         
	</table>
</div>

