:root {
	--black: #1e1e1e;
	--white: #f4f4f4;
	--gold: #ffe484;
	--active-text: #8395a7;
	--body-bg-color: var(--white);
	--container-text-color: var(--white);
	--sidepanel-bg-color: var(--white);
	--sidebar-width: 5rem;
	--font-navbar: 'Lobster Two', cursive;
	--font-container: 'Merriweather', serif;
	--side-text-color: var(--black);
	--side-text-hover-color-: var(--nav-bg-color);
	--side-text-bg-color: var(--nav-text-color);
}

* {
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	background-color: #1e1e1e;
}
.input-group-prepend {
	width: 6rem;
}
.input-group-text {
	width: inherit;
}
/*
::-webkit-input-placeholder { text-align: center; }
:-moz-placeholder			{ text-align: center; }  Firefox 18-  
::-moz-placeholder			{ text-align: center; }  Firefox 19+ 
:-ms-input-placeholder		{ text-align: center; }


input						
{ 
	text-align: center; 
	width: 15rem !important;
}
*/
/* OUT */
#panel-frame {
	font-family: var(--font-container);
	display: flex;
	height: auto;
	width: auto;
	min-width: 99vh;
	min-height: 100vh;
}
#panel-div {
	text-align: left;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: .2rem solid #1e1e1e;
	background-color: #5cffc7db;
	margin: .2rem;
}

/* OUT */


/* SIDEPANEL */

#sidepanel {
	height: auto;
	width: 7rem;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 1rem 1rem 1px rgba(0,0,0,0.05);
	background-color: #5cffc7db;
	margin: .4rem 0rem;
}
	#sidepanel * {
		align-items: center;
		justify-content: center;
	}
.sidepanel-item-div {
	height: 30%;
	width: 80%;
}
.sidepanel-item {
	height: 2.5rem;
	display: flex;
	margin-bottom: .2rem;
	cursor: pointer;
	transition: .2s linear;
	border-radius: .2rem;
}
	.sidepanel-item-active, .sidepanel-item:hover {
		background-color: var(--black);
		color: var(--white);
	}
#sidepanel-item-icon {}
.sidepanel-item-text {
	margin-left: .2rem;
}
.side-item-link {
	padding: .2rem .4rem .2rem .4rem;
	color: var( --side-text-color);
	font-size: medium;
	border-radius: .2rem .2rem .2rem .2rem;
}
.side-item-link:hover {
	background-color: var(--side-text-bg-color);
	color: var(--side-text-hover-color);
	text-decoration: none;
}

/* SIDEPANEL */


/* PANEL */

.panel {
	margin-top: 10rem;
	width: 90%;
}

/* PANEL */