@model WEBP.WebAPI.Models.ListViewModel
@{
	ViewData["Title"] = "List Page";
}

<div class="text-center">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Title</th>
				<th scope="col">Content</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var blog in Model.blogs)
			{
				<tr>
					<td>@blog.title</td>
					<td>@blog.content</td>
				</tr>
			}
		</tbody>
	</table>
</div>
