:root {
    --black: #1e1e1e;
    --white: #f4f4f4;
    --gold: #ffe484;
    --active-text: #8395a7;
    --body-bg-color: var(--white);
    --container-text-color: var(--white);
    --post-img-w: 23rem;
    --post-img-h: 14rem;
    --post-img-w-s: 4.2rem;
    --post-img-h-s: 7rem;
    --nav-text-color: var(--white);
    --nav-text-hover-color-: var(--nav-bg-color);
    --nav-text-bg-color: var(--nav-text-color);
    --nav-height-px: 2.5rem;
    --nav-bg-color: var(--black);
    /*
    --sidepanel-bg-color: var(--white);
    --sidebar-width: 3rem;
    */
    --font-navbar: 'Lobster Two', cursive;
    --font-container: 'Merriweather', serif;
}

a { color: inherit; }

* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #f4f4f4;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.right {
    position:fixed;
    right:1vw;
}
.active-link, .active-link *{
    color: var(--gold) !important;
    border-color: var(--gold) !important;
}
.tooltip {
  font-family: var(--font-container);
}


/* NAVBAR */

.nav-frame {
    top: 0;
    width: 100%;
    height: var(--nav-height-px);
    font-family: var(--font-navbar);
    background-color: var(--nav-bg-color);
    position: fixed;
    z-index: 3;
}
.nav-div {
    justify-content:center;
}
.nav-item-list {
    display:flex;
    justify-content:center;
}
.nav-item 
{
    line-height: var(--nav-height-px);
}
.nav-item-link {
    padding: .2rem .4rem .2rem .4rem;
    color: var(--nav-text-color);
    font-size: medium;
    border-radius: .2rem .2rem .2rem .2rem;
}
.nav-item-link:hover 
{
    background-color: var(--nav-text-bg-color);
    text-decoration:none;
}

/* NAVBAR */


/* FOOTER */

#footer {
    height: 2rem;
    display: flex;
    border-top: 1px solid #dee2e6;
    justify-content: center;
}
    #footer p {
        height: inherit;
        line-height: 2rem;
        margin: 0;
    }

/* FOOTER */