
:root {
	--slider-width: 50rem;
	--post-text-color: #8395a7;
}

img {
	width: 100%;
	height: 100%;
}

.custom-centered-flex {
	display: flex;
	align-items: center;
	margin-top: 1rem;
}

@media only screen and (max-width: 600px) {
	.nav-item-list {
		justify-content: left;
	}
	.content-header {
		max-width: 83vw;
	}
	.posts {
		top: 150px;
	}
	.post {
		font-size: small;
		padding: 0;
		border: 1px solid #dee2e6;
	}
	.post-img {
		max-width: 78vw;
		max-height: 25vh
	}
	.post-info {
		height: 55px;
		padding: 3px;
	}
	.post-description {
		margin-bottom: 5px;
	}
	.post:hover {
	}
}


/* NAVBAR */

.nav-frame {
	top: 0;
	width: 100%;
	height: var(--nav-height-px);
	font-family: var(--font-navbar);
	background-color: var(--nav-bg-color);
	position: fixed;
	z-index: 3;
}
.nav-div {
	justify-content: center;
}
.nav-item-list {
	display: flex;
	justify-content: center;
}
.nav-item {
	line-height: var(--nav-height-px);
}
.nav-item-link {
	padding: .2rem .4rem;
	color: var(--nav-text-color);
	font-size: medium;
	border-radius: .2rem;
}
	.nav-item-link:hover {
		background-color: var(--nav-text-bg-color);
		color: var(--nav-text-hover-color);
		text-decoration: none;
	}

/* NAVBAR */


/* SLIDER */

#slider {
	width: 100%;
	height: 23rem;
}
.slider-navigation {
	height: 3rem;
	display: flex;
	background-color: var(--black);
	border-radius: .3rem .3rem 0 0;
}
.sli-nav-btn {
	width: calc(100% / 3);
}
.sli-nav-img {
	opacity: .5;
	transition: .2s linear;
}
.sli-nav-btn img {
	padding: 0 .1rem .1rem 0;
	border-radius: .3rem .3rem 0 0;
}
.active-sli-nav-img {
	opacity: 1;
}
.slides {
}
.slide {
	width: inherit;
	height: 20rem;
	display: none;
}
.slide img {
	border-radius: 0 0 .3rem .3rem;
}
.active-slide {
	display: block;
}

/* SLIDER */


/* CATEGORIES */

.categories {
	display: flex;
	justify-content: center;
}
.ctg-tmb {
	width: 5rem;
	height: 5rem;
	border-radius: 3rem;
	margin: 0 1.5rem;
	border: 1px solid #0b2e13;
}
.ctg-tmb-img {
	border-radius: 3rem;
}

/* CATEGORIES */


/* CONTAINER */

#content-frame {
	margin-top: var( --nav-height-px );
	font-family: var(--font-container);
}
#content-div {
	text-align: center;
}
.content-header-div {
	height: 30rem;
	max-width: 100%;
	max-height: 30rem;
	display: inline-block;
	margin: .3rem;
}

/* CONTAINER */


/* POST  */

.posts {
	margin-top: 1rem;
}
.post {
	color: var(--post-text-color);
	display: inline-block;
	margin: .2rem;
	font-size: small;
	transition: 0.1s linear;
	padding: 1rem;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
	border-radius: .25rem;
}
.post-img {
	width: var(--post-img-w);
	height: var(--post-img-h);
	background-image: url(../Resources/b.jpeg);
}
.post:hover {
	color: var(--post-text-color);
	transform: scale(0.98);
}
.post-info {
	height: 2.5rem;
	padding: .2rem;
	background-color: transparent;
	position: relative;
	text-align: center;
}
.post-title {
	text-transform: uppercase;
	position: absolute;
}
.post-description {
	bottom: 0;
	position: absolute;
}

/* POST */


/* PAGINATION */

#pagination-nav {
	margin: 2.5rem 0 .2rem;
}
.pagination {
	font-size: medium;
	justify-content: center;
	margin-bottom: 0;
}
.pg-link {
	height: inherit;
	width: 3rem;
	position: relative;
	display: block;
	margin: .1rem;
	border: .15rem solid var(--black);
	border-radius: .5rem;
	transition: .1s linear;
}
	.pg-link a {
		color: var(--black);
		text-decoration: none;
	}
	.pg-link:hover {
		width: 3.5rem;
		border-color: var(--active-text);
	}
		.pg-link:hover * {
			color: var(--active-text);
		}

/* PAGINATION */


/* SEARCH FORM */

.searchForm {
	width:100%;
}

/* SEARCH FORM */


/* SIDEPANEL 

#sidepanel {
	left: 0;
	top: var( --nav-height-px );
	height: calc( 100% - var(--nav-height-px) );
	width: var(--sidebar-width);
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	box-shadow: 0 1rem 1rem 1px rgba(0,0,0,0.05);
	padding-top: .1rem;
}
	#sidepanel * {
		align-items: center;
		justify-content: center;
	}
.sidepanel-item-div {
	height: 100%;
}
.sidepanel-item {
	height: 2.5rem;
	width: 2.5rem;
	display: flex;
	margin-bottom: .2rem;
	cursor: pointer;
	transition: 0.2s linear;
	border-radius: .2rem;
}
	.sidepanel-item-active, .sidepanel-item:hover {
		background-color: var(--black);
		color: var(--white);
	}

.sidepanel-item-text {
	margin-left: .2rem;
}

 SIDEPANEL */ /* SIDEPANEL */
