:root {
    --black: #1e1e1e;
    --white: #f4f4f4;
    --body-bg-color: var(--white);
    --container-text-color: var(--white);
    --post-img-w: 384px;
    --post-img-h: 216px;
    --post-img-w-s: 72px;
    --post-img-h-s: 128px;
    --nav-text-color: var(--white);
    --nav-text-hover-color-: var(--nav-bg-color);
    --nav-text-bg-color: var(--nav-text-color);
    --nav-height-px: 40px;
    --nav-text-color: var(--white);
    --nav-bg-color: var(--black);
    --sidepanel-bg-color: var(--white);
    --sidebar-width: 50px;
    --font-navbar: 'Lobster Two', cursive;
    --font-container: 'Merriweather', serif;
}

* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: lemonchiffon;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.right {
    position:fixed;
    right:1vw;
}
.tooltip {
  font-family: var(--font-container);
}

/* NAVBAR */

.nav-frame {
    top: 0;
    width: 100%;
    height: var(--nav-height-px);
    font-family: var(--font-navbar);
    background-color: var(--nav-bg-color);
    position: fixed;
    z-index: 3;
}
.nav-div {
    justify-content:center;
}
.nav-item-list {
    display:flex;
    justify-content:center;
}
.nav-item 
{
    line-height: var(--nav-height-px);
}
.nav-item-link {
    padding: 5px 10px 5px 10px;
    color: var(--nav-text-color);
    font-size: medium;
    border-radius: 5px 5px 5px 5px;
}
.nav-item-link:hover 
{
    background-color: var(--nav-text-bg-color);
    color: var(--nav-text-hover-color);
    text-decoration:none;
}

/* NAVBAR */


/* SIDEPANEL */

#sidepanel {
    left: 0;
    top: var( --nav-height-px );
    height: calc( 100% - var(--nav-height-px) );
    width: var(--sidebar-width);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    box-shadow: 0px 20px 20px 1px rgba(0,0,0,0.05);
}
    #sidepanel * {
        align-items: center;
        justify-content: center;
    }
.sidepanel-item-div {
    height: 99%;
}
.sidepanel-item 
{
    height: 40px;
    width: 40px;
    display: flex;
    margin-bottom: 5px;
    cursor: pointer;
    transition: 0.2s linear;
    border-radius: 5px;
}
    .sidepanel-item-active, .sidepanel-item:hover {
        background-color: var(--black);
        color: var(--white);
    }

#sidepanel-item-icon 
{

}
.sidepanel-item-text 
{
    margin-left: 5px;
}

/* SIDEPANEL */


/* CONTAINER */

.content-frame
{
    margin-top:  var( --nav-height-px );
    margin-left: var( --sidebar-width );
    font-family: var(--font-container);
}
.content-header-div {
    padding: 10px;
    max-width: 100%;
    max-height: 350px;
    width: 100%;
    height: 350px;
    background-color: transparent;
}
.content-header {
    width: auto;
    height: 330px;
    border-radius: 5px;
    background-image: url(../Resources/b.jpeg);
}
#content-div {
    text-align: center;
}

/* CONTAINER */


/* POST  */
.posts {
}
.post {
    color: #8395a7;
    display: inline-block;
    margin: 5px;
    font-size: small;
    transition: 0.1s linear;
    padding: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    border-radius: .25rem;
}
.post-img {
    width: var(--post-img-w);
    height: var(--post-img-h);
    background-image: url(../Resources/b.jpeg);
}
.post:hover {
    transform: scale(0.98);
}
.post-info {
    height:45px;
    padding: 5px;
    background-color: transparent;
    position: relative;
    text-align: center;
}
.post-title {
    text-transform: uppercase;
    position: absolute;
}
.post-description {
    bottom: 0;
    position: absolute;
}


/* POST */


@media only screen and (max-width: 600px) 
{
    .nav-item-list {
        justify-content: left;
    }
    .content-header {
        max-width: 83vw;
    }
    .posts {
        top: 150px;
    }
    .post {
        font-size: small;
        padding: 0px;
        border: 1px solid #dee2e6;
    }
    .post-img {
        max-width: 78vw;
        max-height: 25vh
    }
    .post-info {
        height: 55px;
        padding: 3px;
    }
    .post-description {
        margin-bottom: 5px;
    }
    .post:hover {}
}


/*
    font-family: 'Merriweather', serif;
*/

/*
.post-category 
{
    display: block;
    position: absolute;
    width: 100%;
    bottom: 5%;
    padding: 1em;
    font-weight: 700;
    z-index: 2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*/
