@model WEBP.WebAPI.Models.ListViewModel

@{ ViewData["Title"] = "Home Page"; }


	@foreach (var item in Model.blogs)
	{
		<div class="post">

			<p class="lead">@item.title</p>

			<hr class="my-4">

			<p>@item.description</p>

			<p> @Model.categories.Find(c => c.id == item.categoryid).name </p>

		</div>
	}

