<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/page.css" />
	<link rel="stylesheet" href="~/css/main.css" />
	<script src="https://kit.fontawesome.com/d4b0984dff.js" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap" rel="stylesheet">
</head>
<body>

	<div class="nav-frame">
		<div class="nav-div">
			<div class="nav-item-list">
				
				<div class="nav-item">
					<a class="nav-item-link" asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a>
				</div>
				
				
				<div class="nav-item right">
					<a class="nav-item-link" asp-area="" asp-controller="Home" asp-action="LogIn">Üye Ol</a>
				</div>
				
			</div>
		</div>
	</div>

	<div id="content-frame">
		<div id="content-div">

			@RenderBody()

		</div>
	</div>

	<div id="footer"> <p> UYARI : Sitede yayınlanan makale/metinlerin tüm hakları xxx'e aittir. </p> </div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
	<script src="~/js/page.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>